html {
    font-size: 1.4em;
    color: #FFF;
    font-family: monospace;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #202124;
}

.dataTitle {
    background-color: #F39325;
    height: 60px;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    margin-bottom:20px;
    padding-left: 20px;
}

.chartContainer{
    margin: auto auto 100px auto;
    height: 18vh; 
}

.title {
    color: #F39325;
    height: 60px;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 20px;
}